.table {
  font-size: 20px;
}

.card {
  background: rgba(242, 252, 252, 0.55);
  box-shadow: 0 10px 12px 0 rgba(18, 21, 56, 0.253);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.089);
}

.card-header {
  background: #166083;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 800;
}
